<table border="10">
    <tr>
        <th>City name</th>
    </tr>
    {{#each cities }}
    <tr>
        <td>{{this}}</td>
    </tr>
    {{/each}}
</table>

<ol>
    {{#each sport }}
        <li>{{this}}</li>
{{/each}}
</ol>

{{Integer}}<br>
{{Double}}<br>
{{String}}<br>
{{Boolean}}